# Ignore built binaries and temporary folders
Binaries/
Build/
Packaged/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.idea/
*.sln
*.xcworkspace
*.ico
*.png
*.user

# Ignore the heavy Content folder
Content/

# Allow the essentials
!Source/
!Config/
!*.uproject